/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --red: #F55D3E;
  --redPass: #F6684C;
  --lightRed: #FF9883;
  --orange: #F2C078;
  --orange2: #F6AC42;
  --lightYellow: #FAEDCA;
  --lightGreen: #C1DBB3;
  --green: #7EBC89;
  --blue: #0069a2;
  --blackish: #433E3F;
  --almostWhite: #FCFCFC;
}

#app {
  margin: 0 auto;
  font-weight: normal;
  background-color: var(--almostWhite);
}

.myCont{
  padding: 2rem 5rem;
}

h1, h2, h3, h4, h5, h6{
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: capitalize;
}

h2{
  font-size: 32px;
}

p {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/* ANIMATIONS */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
